.header {
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 1000;
  .header-main {
    background-color: $white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    @include media-breakpoint-down('md') {
      flex-wrap: wrap;
      .header-content {
        padding: 20px;
        flex-wrap: wrap;
        .menu-item {
          margin-bottom: 10px;
        }
      }
    }
    .logo {
      font-size: 24px;
      color: $white;
      font-weight: $font-weight-bolder;
      padding: 10px;
      background-color: $gray-900;
    }
    .header-content {
      margin-left: auto;
      display: flex;
      align-items: center;
      .menu-item {
        font-size: 16px;
        font-weight: $font-weight-bold;
        margin-left: 20px;
      }
    }
  }
}