<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Title</title>
    <link href="./app.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="site">
      <div class="site-main">
        <div class="header">
          <div class="container">
            <div class="header-main">
              <div class="logo">
                LOGO
              </div>
              <div class="header-content">
                <div class="menu-item">
                  &#128231;
                  &nbsp;
                  1 la Canebiere, 13001 Marseille
                </div>
                <div class="menu-item">
                  &#128231;
                  &nbsp;
                  hello@beautysalon.com
                </div>
                <div class="menu-item">
                  &#128222;
                  &nbsp;
                  00 11 22 33 44
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-hero">
          <div class="column-block-item">
            <div class="featured-image"
              style="background-image: url('./media/product-03.png')"
            >
            </div>
          </div>
          <div class="column-block-item">
            <div class="info">
              <h4 class="title mb-5">Cras justo odio, dapibus ac facilisis in, egestas eget quam lorem.</h4>
              <a href="#" class="btn btn-danger mr-3 mb-3">Je prends rendez-vous</a>
              <a href="#" class="btn btn-outline-danger mb-3">J’offre une carte cadeau</a>
            </div>
          </div>
        </div>
        <div class="section-main">
          <div class="container">
            <h2 class="text-danger font-weight-bold mb-5">Nos prestations</h2>
            <div class="products">
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-06.png')"></div>
                <div class="card-body">
                  Manucure et Beauté des pieds
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-02.png')"></div>
                <div class="card-body">
                    Soin du corps
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-03.png')"></div>
                <div class="card-body">
                    Soin du visage
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-04.png')"></div>
                <div class="card-body">
                    Épilation
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-05.png')"></div>
                <div class="card-body">
                    Massage
                </div>
              </div>
            </div>
            <div class="content-details">
              <div class="row">
                <div class="col-lg-6">
                  <div class="detail-item">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="title">Peeling Phyt'Skin Renov et lorem ipsum</div>
                      <div>
                        <span class="price">99,00 €</span>
                        <a href="#" class="btn btn-danger">Réserver</a>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <small>
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                          &nbsp;
                          <span class="text-danger">30 min </span>
                          &nbsp;
                          <span class="text-underline">En savoir plus</span>
                        </small>
                      </div>
                      <div>
                        <small>
                          <span class="text-underline">Vous avez déjà un forfait ? </span>
                          &nbsp;
                          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="detail-item">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="title">Peeling Phyt'Skin Renov (rénovateur de peau) - la séance</div>
                      <div>
                        <span class="price">57,00 €</span>
                        <a href="#" class="btn btn-danger">Réserver</a>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <small>
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                          &nbsp;
                          <span class="text-danger">1 hr </span>
                          &nbsp;
                          <span class="text-underline">En savoir plus</span>
                        </small>
                      </div>
                      <div>
                        <small>
                          <span class="text-underline">Vous avez déjà un forfait ? </span>
                          &nbsp;
                          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="detail-item">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="title">Soin Anti Comédons (purifiant, cible les imperfections - tous types de peaux et lorem ipsum et dolor)</div>
                      <div>
                        <span class="price">99,00 €</span>
                        <a href="#" class="btn btn-danger">Réserver</a>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <small>
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                          &nbsp;
                          <span class="text-danger">1 hr 30</span>
                          &nbsp;
                          <span class="text-underline">En savoir plus</span>
                        </small>
                      </div>
                      <div>
                        <small>
                          <span class="text-underline">Vous avez déjà un forfait ? </span>
                          &nbsp;
                          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="detail-item">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="title">Peeling Phyt'Skin Renov et lorem ipsum</div>
                      <div>
                        <span class="price">109,00 €</span>
                        <a href="#" class="btn btn-danger">Réserver</a>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <small>
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                          &nbsp;
                          <span class="text-danger">30 min </span>
                          &nbsp;
                          <span class="text-underline">En savoir plus</span>
                        </small>
                      </div>
                      <div>
                        <small>
                          <span class="text-underline">Vous avez déjà un forfait ? </span>
                          &nbsp;
                          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="detail-item">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="title">Peeling Phyt'Skin Renov (rénovateur de peau) - la séance</div>
                      <div>
                        <span class="price">99,00 €</span>
                        <a href="#" class="btn btn-danger">Réserver</a>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <small>
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                          &nbsp;
                          <span class="text-danger">1 hr</span>
                          &nbsp;
                          <span class="text-underline">En savoir plus</span>
                        </small>
                      </div>
                      <div>
                        <small>
                          <span class="text-underline">Vous avez déjà un forfait ? </span>
                          &nbsp;
                          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="detail-item">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="title">Peeling Phyt'Skin Renov et lorem ipsum</div>
                        <div>
                          <span class="price">28,00 €</span>
                          <a href="#" class="btn btn-danger">Réserver</a>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <small>
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                            &nbsp;
                            <span class="text-danger">1 hr 30 </span>
                            &nbsp;
                            <span class="text-underline">En savoir plus</span>
                          </small>
                        </div>
                        <div>
                          <small>
                            <span class="text-underline">Vous avez déjà un forfait ? </span>
                            &nbsp;
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="detail-item">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="title">Peeling Phyt'Skin Renov (rénovateur de peau) - la séance</div>
                        <div>
                          <span class="price">109,00 €</span>
                          <a href="#" class="btn btn-danger">Réserver</a>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <small>
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                            &nbsp;
                            <span class="text-danger">30 min </span>
                            &nbsp;
                            <span class="text-underline">En savoir plus</span>
                          </small>
                        </div>
                        <div>
                          <small>
                            <span class="text-underline">Vous avez déjà un forfait ? </span>
                            &nbsp;
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="detail-item">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="title">Soin Anti Comédons (purifiant, cible les imperfections - tous types de peaux et lorem ipsum et dolor)</div>
                        <div>
                          <span class="price">99,00 €</span>
                          <a href="#" class="btn btn-danger">Réserver</a>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <small>
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                            &nbsp;
                            <span class="text-danger">30 min </span>
                            &nbsp;
                            <span class="text-underline">En savoir plus</span>
                          </small>
                        </div>
                        <div>
                          <small>
                            <span class="text-underline">Vous avez déjà un forfait ? </span>
                            &nbsp;
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="detail-item">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <small class="mr-3">Si vous disposez déjà de ce forfait, une séance vous sera simplement décomptée, à la validation de votre rdv, sans rien à régler.</small>
                        <i class="fa fa-times-circle-o"></i>
                      </div>
                    </div>
                    <div class="detail-item">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="title">Peeling Phyt'Skin Renov et lorem ipsum</div>
                        <div>
                          <span class="price">99,00 €</span>
                          <a href="#" class="btn btn-danger">Réserver</a>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <small>
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                            &nbsp;
                            <span class="text-danger">1 hr </span>
                            &nbsp;
                            <span class="text-underline">En savoir plus</span>
                          </small>
                        </div>
                        <div>
                          <small>
                            <span class="text-underline">Vous avez déjà un forfait ? </span>
                            &nbsp;
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="detail-item">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="title">Peeling Phyt'Skin Renov et lorem ipsum</div>
                        <div>
                          <span class="price">99,00 €</span>
                          <a href="#" class="btn btn-danger">Réserver</a>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <small>
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                            &nbsp;
                            <span class="text-danger">30 min </span>
                            &nbsp;
                            <span class="text-underline">En savoir plus</span>
                          </small>
                        </div>
                        <div>
                          <small>
                            <span class="text-underline">Vous avez déjà un forfait ? </span>
                            &nbsp;
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                          </small>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="products">
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-04.png')"></div>
                <div class="card-body">
                    Épilation
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-05.png')"></div>
                <div class="card-body">
                    Massage
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-01.png')"></div>
                <div class="card-body">
                    Manucure et Beauté des pieds
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-03.png')"></div>
                <div class="card-body">
                    Soin du visage
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-02.png')"></div>
                <div class="card-body">
                    Soin du corps
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-05.png')"></div>
                <div class="card-body">
                    Massage
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-03.png')"></div>
                <div class="card-body">
                    Soin du visage
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-04.png')"></div>
                <div class="card-body">
                    Épilation
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-02.png')"></div>
                <div class="card-body">
                    Soin du corps
                </div>
              </div>
              <div class="card-product">
                <div class="card-image" style="background-image: url('./media/product-01.png')"></div>
                <div class="card-body">
                    Manucure et Beauté des pieds
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-column">
          <div class="column-block-item">
            <div class="featured-image" style="background-image: url('./media/fruits.png')">
            </div>
          </div>
          <div class="column-block-item">
            <div class="info">
              <h4 class="title text-center text-danger font-weight-bold mb-5">Envie d’offrir ?</h4>
              <a href="#" class="btn btn-danger mr-3 mb-3">J’offre une carte cadeau</a>
              <a href="#" class="btn btn-outline-danger mb-3">J'offre un soin</a>
            </div>
          </div>
        </div>
        <div class="section-column column-reverse">
          <div class="column-block-item">
            <div class="info">
              <h5 class="text-danger mb-5 font-weight-bold">Nos actualités</h5>
              <div class="content">
                Découvrez nos offres du moment, directement sur vos réservations en ligne ainsi qu’en institut :
                <br />
                <br />
                -15% pour les étudiants
                <br />
                <br />
                -10% Enfants (0 - 12 ans)
              </div>
            </div>
          </div>
          <div class="column-block-item">
            <div class="featured-image" style="background-image: url('./media/oranges.png')"></div>
          </div>
        </div>
        <div class="section-bottom">
          <div class="container">
            <h5 class="text-danger font-weight-bold mb-5">À propos</h5>
            <div class="row">
              <div class="col-lg-5">
                <div class="mb-5 font-weight-bold">
                  Beauty Salon
                  <br />
                  1 la Canebiere
                  <br />
                  13001 Marseille
                </div>
                <div class="content">
                  <p>Venez découvrir, dans un cadre exceptionnel, les soins et cosmétiques bio de nos marques Phyt’s, Bionatural et la gamme de maquillage entièrement certifié bio, Phyt’s Organic Make.</p>
                  <p>Nos Naturo-Esthéticiennes vous attendent pour vous faire vivre une expérience qui comblera vos exigences d'efficacité mais également vos envies de détente et de relaxation grâce au savoir-faire unique de la Naturo-Esthétique™.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="panel bg-danger text-white">
                  <div class="title mb-5">
                    Nos horaires
                  </div>
                  <div class="panel-item">
                    <div class="name">Lundi</div>
                    <div class="time"><span class="text-success">&#9679;  </span>14h - 19h</div>
                  </div>
                  <div class="panel-item">
                    <div class="name">Mardi</div>
                    <div class="time"><span class="text-success">&#9679;  </span>9h - 12h / 14h - 19h</div>
                  </div>
                  <div class="panel-item">
                    <div class="name">Mercredi</div>
                    <div class="time"><span class="text-success">&#9679;  </span>9h - 12h / 14h - 19h</div>
                  </div>
                  <div class="panel-item">
                    <div class="name">Jeudi</div>
                    <div class="time"><span class="text-success">&#9679;  </span>9h - 12h / 14h - 20h</div>
                  </div>
                  <div class="panel-item">
                    <div class="name">Vendredi</div>
                    <div class="time"><span class="text-success">&#9679;  </span>9h - 20h</div>
                  </div>
                  <div class="panel-item">
                    <div class="name">Samedi</div>
                    <div class="time"><span class="text-success">&#9679;  </span>9h - 20h</div>
                  </div>
                  <div class="panel-item">
                    <div class="name">Dimanche</div>
                    <div class="time"><span class="text-success">&nbsp;&nbsp;&nbsp;  </span>Fermé</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="featured-image" style="background-image: url('./media/map.png')"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="footer-main">
            <div class="socials">
              <div class="social bg-secondary">
                <a href="#" class="fa fa-facebook text-white"></a>
              </div>
              <div class="social bg-primary">
                <a href="#" class="fa fa-twitter text-white"></a>
              </div>
              <div class="social bg-warning">
                <a href="#" class="fa fa-instagram text-white"></a>
              </div>
              <div class="social bg-pink">
                <a href="#" class="fa fa-youtube text-white"></a>
              </div>
              <div class="social bg-danger">
                <a href="#" class="fa fa-pinterest text-white"></a>
              </div>
            </div>
            <div class="footer-comment">
              <div class="menu">
                <div>CGU</div>
                <div>CGV</div>
                <div>Politiques des données personnelles</div>
                <div>Mentions légales</div>
              </div>
              <div class="comment text-right">
                <img src="./media/logo.png" style="width: 106px;"/>
                <div class="text-right">
                  © Befull 2019
                  <br />
                  Tous droits réservés.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./app.js"></script>

  </body>
</html>